*{
    position: relative;
    width: 768px;
    height: 1057px;   
    background: #F3F5FC;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: auto;
    height: auto;
}

header{
    height: 120px;
    width: 48px;
}

header img{
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 73px
}

head div, #en{
    height: 590px;
}

#en input{
    position: absolute;
    width: 686px;
    height: 48px;
    left: 40px;
    top: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border: none;
}

#en p{
    width: 211px;
    height: 18px;
    top: 548px;
    left: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
}

head div, #botones{
    width: 768px;
    height: 67px;
}

#botones button{
    left: 40px;
    padding: 24px;
    width: 332px;
    height: 67px;
    border-radius: 24px;
}

.botones button, #botonEncriptar{
    color: white;
    background-color: #0A3871;
}

.botones button, #botonDesencriptar{
    color: #0A3871;
    background-color: white;
    margin-left: 40px;
}

.botones button, #botonCopiar{
    color: white;
    background-color: #0A3871;
    top: 315px;
    margin-left: 192px;
    display: none;
}

head div, #des{
    height: 307px;

}

#des textarea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    position: absolute;
    width: 646px;
    height: 133px;
    left: 40px;
    top: 64px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
    border-radius: 32px;
}

footer{
    height: 90px;
    margin-top: 55px;
    text-align: center;
    font-family: 'Coming Soon', cursive;
}
